<h4>Periode Penilaian</h4>
<div>
  <a id="plusIcon" class="btn-floating z-depth-1-half btn-default" data-toggle="modal"
    data-target="#basicExampleModal"><i class="fa fa-plus"></i></a>
</div>

<table class="table table-striped" cellspacing="0" width="100%" datatable="ng">
  <thead>
    <tr>
      <th>NO</th>
      <th>Periode</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in datas">
      <td>{{ $index + 1 }}</td>
      <td>{{ data.periode }}</td>
      <td>{{ data.status }}</td>
      <th class="right-option">
        <a ui-sref="ao-periode-detail({id:data.idperiode})">Detail</a> |
        <a ng-click="edit(data)" data-toggle="modal" data-target="#basicExampleModal">Edit</a>
      </th>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="basicExampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-default">
        <h5 class="modal-title" id="exampleModalLabel">Tambah Periode</h5>
        <button ng-disabled="saveSpin" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="margin-left: 10px;margin-right:10px;" ng-submit="save(model);saveSpin=true;">
          <div class="md-form">
            <label>periode</label>
            <input type="text" class="form-control" ng-model="model.periode" required />

          </div>
          <div class="md-form">
            <div class="swich-body">
              <div class="custom-control custom-switch">
                <input type="checkbox" ng-model=swichstatus ng-change="swich(swichstatus)" class="custom-control-input"
                  id="customSwitch1" checked>
                <label class="custom-control-label" for="customSwitch1">{{model.status}}</label>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Batal
            </button>
            <button type="submit" class="btn btn-primary">Simpan <i ng-show="saveSpin"
                class="fa fa-spinner fa-spin fa-2x"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  #plusIcon {
    right: 0px;
    position: absolute;
    right: 20px;
  }

  .swich-body {
    margin-left: 2.5rem;
  }
</style>