<h4>Detail Periode Penilaian</h4>
<div>
  <a ng-show="periode.status==='AKTIF'" id="plusIcon" class="btn-floating z-depth-1-half btn-default"
    data-toggle="modal" data-target="#basicExampleModal"><i class="fa fa-plus"></i></a>
</div>
<h6>Periode : {{periode.periode}}</h6>
<h6>Status : {{periode.status}}</h6>

<div id="accordion">
  <div class="card" ng-repeat="debitur in periode.debitur">
    <div class="card-header" id="{{debitur.iddebitur}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{debitur.iddebitur}}"
          aria-expanded="true" aria-controls="collapse{{debitur.iddebitur}}">
          <h6>{{debitur.nama}}</h6>
        </button>
        <button ng-show="periode.status==='AKTIF'" class="btn btn-primary pull-right"
          ng-click="save(debitur)">Simpan</button>
        </h6>
    </div>
    <div id="collapse{{debitur.iddebitur}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <table class="table" cellspacing="0" width="100%">
          <tbody ng-repeat="kriteria in debitur.kriteria">
            <tr>
              <td colspan="2">
                <h6>Kriteria {{kriteria.namaKriteria}}</h6>
              </td>
            </tr>
            <tr class="subitem" ng-repeat="sub in kriteria.subKriteria">
              <td subitem></td>
              <td subitem>{{$index+1}}. {{sub.namaSub}}</td>
              <td><input ng-model="sub.nilai" type="number"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button ui-sref="ao-hasil({id:periode.idperiode})" class="btn btn-warning text-center"
  style="width: 99%; margin: 10px; height: 70px;">Hitung
  Hasil</button>


<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="basicExampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-default">
        <h5 class="modal-title" id="exampleModalLabel">Tambah Periode</h5>
        <button ng-disabled="saveSpin" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>NO</th>
              <th>Nama</th>
              <th>No Identitas</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in dataDebitur">
              <td>{{ $index + 1 }}</td>
              <td>{{ data.nama }}</td>
              <td>{{ data.NoIdentitas }}</td>
              <th>
                <a ng-click="selectNewDebitur(data)">Pilih</a>
              </th>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<style>
  .subitem {
    padding: 10px !important;
  }

  .card {
    margin-top: 20px;
  }
</style>