<div class="newdebitur" ng-init=Init()>
  <div class="container">
    <div class="title">
      Calon Debitur
    </div>
    <div id="accordion">

      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" data-target="#collapseOne">
            Data Debitur
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <form ng-submit="save(model)">
              <div class="row">
                <div class="col-md-6 kiri">
                  <div class="md-form">
                    <input ng-model="model.nama" type="text" id="inputPrefilledEx" class="form-control">
                    <label for="inputPrefilledEx">Example label</label>
                  </div>
                  <div class="md-form">
                    <label>Nomor Identitas</label>
                    <input type="text" class="form-control" ng-model="model.NoIdentitas" required />
                  </div>
                  <div class="md-form">
                    <label class="active">Tempat Lahir</label>
                    <input type="text" class="form-control" ng-model="model.tempatLahir" required />
                  </div>
                  <div class="md-form">
                    <input type="text" id="datepicker" class="form-control datepicker" ng-model="model.tanggalLahir">
                    <label for="date-picker-example">Tanggal Lahir</label>
                  </div>
                  <div class="md-form">
                    <label>Alamat</label>
                    <input type="text" class="form-control" ng-model="model.Alamat" required />
                  </div>
                  <div class="md-form">
                    <label>Lama Tinggal</label>
                    <input type="text" class="form-control" ng-model="model.lamaTinggal" required />
                  </div>
                  <div class="md-form">
                    <label>Telepon</label>
                    <input type="text" class="form-control" ng-model="model.telepon" required />
                  </div>
                  <div class="md-form">
                    <label>Pekerjaan</label>
                    <input type="text" class="form-control" ng-model="model.pekerjaan" required />
                  </div>

                </div>
                <div class="col-md-6 kanan">
                  <div class="md-form">
                    <label>Nama Istri/Suami</label>
                    <input type="text" class="form-control" ng-model="model.namaPasangan" required />
                  </div>
                  <div class="md-form">
                    <label>Pekerjaan Istri/Suami</label>
                    <input type="text" class="form-control" ng-model="model.pekerjaanPasangan" required />
                  </div>
                  <h6>Data Usaha</h6>
                  <div class="md-form">
                    <label>Nama Perusahaan</label>
                    <input type="text" class="form-control" ng-model="model.namaPerusahaan" required />
                  </div>
                  <div class="md-form">
                    <label>Alamat</label>
                    <input type="text" class="form-control" ng-model="model.alamatPerusahaan" required />
                  </div>
                  <div class="md-form">
                    <label>Status Usaha</label>
                    <input type="text" class="form-control" ng-model="model.statusUsaha" required />
                  </div>
                  <div class="md-form">
                    <label>Tujuan Pengajuan Kredit</label>
                    <textarea class="md-textarea form-control" ng-model="model.tujuanPengajuanKredit"
                      aria-label="With textarea"></textarea>
                  </div>

                </div>
              </div>

            </form>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" data-target="#collapseTwo">
            Data Persyaratan
          </a>
          <button href="#" ng-click="saveDataPersyaratan(model)" class="btn btn-success pull-right"
            data-target="#">Simpan</button>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li ng-repeat="item in model.persyaratan"
                class="list-group-item d-flex justify-content-between align-items-center">
                {{item.nama}}
                <span class="badge  badge-pill"><input style="font-size: 20px" ng-model="item.nilai"
                    type="checkbox"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>